@import "variables";
@import "mixins";
@import "global";
@import "masthead";
@import "sidebar";
@import "services";
@import "callout";
@import "portfolio";
@import "map";
@import "footer";
@import "bootstrap-overrides";

.img-fluid{
    height: 432px;
    object-fit: cover;
}

.caption-content{
    text-shadow: 1px 2px 3px #000000;
}